html {
  max-width: 900px;
  margin: auto;
}

body {
  margin: auto;
}


ul{
  list-style: none;
}
a{
  text-decoration: none;
}
header {
  background-image: url(images/hd-bg.png);
  background-repeat: no-repeat;
  background-size: 900px 416px;
  min-height: 414px;
  margin: 0;
  padding: 1px;
  text-align: center;
}

header ul.header {

  text-decoration: none;
  margin-top: 0px;
	padding-left: 0px;
	list-style-type: none;
  height: 40px;
  background-color: rgba(169, 146, 89, 0.637);
  
}

header ul.header li{
  display: inline-block;
  border: 1px solid rgba(245, 245, 245, 0.579);
  padding: 0.5em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.366);
  color: black;
}

header .navigation-container{
  width: 100%;
  height: 40px;
  background-color:rgba(169, 146, 89, 0.637);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.20);
  z-index: 9999;
  position: relative;
  margin-top: 334px;
}


.navigation-content{
  height: 40px;
  margin: 0px 2%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul{
  display:flex;
  align-self: center;
  list-style-type: none;
}

header nav ul li a{
  padding: 0px 30px;
  font-family: calibri;
  font-weight: bold;
  margin-left: 4px;
}
.logo img{
  height: 40px;
  width: auto;
  display: flex;
  align-self: left;
  margin-left: 5px;

}
.cart ul li{
  display:flex;
  align-self: right;
  list-style-type: none;
 
}

.cart ul li a,.cart ul li button{
  padding: 0px 30px;
  font-family: calibri;
  font-weight: bold;
  min-height: 39px;
  
}

.cart ul li button{
  margin-left: 4px;
  height: 39px;
  width: 85px;
  padding: 0.5em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.366);
  color: black;
}

.cart img{
  height: 35px;
  width: 35px;
}


header a:link {
  padding: 0.5em;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.366);
  color: black;
  
  }
  
 
  header a:visited {
  
    color: rgb(0, 0, 0);
  
  }
  
 
  header a:focus {
  
    background-color: rgb(146, 139, 87)
  }
  
  
  header a:hover {
  
    background-color: grey;
    color: white;
  }
  
  
  
  
  header a:active {
  
    color: rgb(255, 221, 0);
    background-color: rgb(114, 109, 67);
  
  }

main {
  padding: 50px;
  background-image: url(images/bd-bg.png);
  background-repeat: no-repeat;
  background-size: 900px 963.6px;
  display: flex;
  margin: 0;
  min-height: 500px;

}

main img {
  float: left;
  margin-left: 0;
  height: 200px;
}

fieldset#option {
  text-align: center;
  margin-top: 300px;
  margin-left: -910px;

}


footer {
  background-image: url(images/ft-bg.png);
  background-repeat: no-repeat;
  background-size: auto;
  margin: 0;
  padding: 1px;
  min-height: 200px;

}
footer div.footer-menu {
  background-color:rgb(162, 142, 112);
  width: 200px;
  height: 100%;
  position: relative;
}

footer h5{
  padding-left: 5px;
}
footer nav{
  float: left;
  display: block;
}


footer nav li{
  display: block;
  list-style-type: none;
  min-height: 30px;
}

footer nav ul li a{
  padding: 0px 10px;
  font-family: calibri;
  font-weight: bold;
  margin-left: 4px;
  text-decoration: none;
  color: black;
  background-color: rgba(255, 255, 255, 0.366);
  
}


footer nav ul{
  padding-left:10px;
}

footer > ul{
float:left;
list-style-type: none;
}




